<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>NetFLop</span>
    <span class="example-spacer"></span>
    <button mat-raised-button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openDialog()" > Cadastrar-se </button>
        <button mat-menu-item> Sobre </button>
    </mat-menu>
    <!-- <button mat-raised-button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
</mat-toolbar>